:root {
    --primary-color: #7f42a7;
    --secondary-color: #6600c5;
    --accent-color: #5300a0;
    --text-primary: #e7e7e7;
    --text-secondary: #b7b7b7;
    --text-muted: #a7a7a7;
    --bg-primary: black;
    --gradient-primary: linear-gradient(45deg, var(--text-primary), var(--primary-color));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    min-height: 100vh;
    line-height: 1.5;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
