header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Engil soya qo'shish */
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #e7e7e7;
    text-shadow: 0 0 10px rgba(127, 66, 167, 0.5); /* Dizayn bilan mos keladigan soya */
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
}

nav a:hover {
    color: #a7a7a7;
}

.btn-signing {
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}

.btn-signing:hover {
    background-color: white;
}

@media (max-width: 1300px) {
    header {
        padding: 1rem 0.5rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 1rem 0.1rem;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn-signing {
        padding: 0.6rem 1.5rem;
    }
}
